.discourse-visible-permissions-table {
  border: 1px solid var(--content-border-color);
  background: var(--secondary);
  padding: 1em;
  border-radius: 8px;
  margin: 1em 0;

  .row-header {
    border-bottom: 2px solid var(--primary-low);
    margin-bottom: 0.5em;
  }

  .permission-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0;
    gap: 1em;

    .group-name {
      font-weight: bold;
      flex: 1;

      .group-name-link {
        color: var(--primary);
        &:hover {
          color: var(--tertiary);
          text-decoration: underline;
        }
      }
    }

    .options {
      display: flex;
      gap: 0.5em;

      .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        color: var(--primary-medium);

        .d-icon-square-check {
          color: var(--success);
        }
      }

      .actions-cell {
        display: flex;
        gap: 0.5em;
        margin-left: 0.5em;
        min-width: 30px;

        .group-action-link {
          color: var(--tertiary);
          &:hover {
            color: var(--tertiary-hover);
          }
        }
      }
    }
  }

  // Ensure it looks okay if it's placed inside a p or div
  display: inline-block;
  min-width: 300px;
}

.discourse-visible-permissions-title {
  margin-bottom: 0.5rem;
  font-size: var(--font-up-1);
}
